* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
  transition: 0.3s;
}
:root {
  /* may be */
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 30px;
}

.container h2 {
  text-align: center;
}

.alpaca {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
}

.main-alpaca {
  margin: 0 auto 10px;
}
.alpaca img {
  min-width: 50vw;
}

.alpaca .z-alpaca {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.alpaca .z-alpaca .alpaca-acesseries {
  /* added margin for alpaca acessry section */
  margin: 10px 10px;
}

.alpaca .z-alpaca .alpaca-styles {
  /* added margin for alpaca styles section */
  margin: 0 10px;
}
.body-parts,
hair-styles-visible {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  min-width: 70px;
  padding: 10px 10px;
  border: 2px solid blue;
  border-radius: 10rem;
  color: blue;
  cursor: pointer;
  font-size: 1.25rem;
}
.buttonclicked {
  background-color: rgba(0, 0, 255, 0.4);
  color: #fff !important;

  min-width: 70px;
  padding: 10px 10px;
  border: 2px solid blue;
  border-radius: 10rem;

  cursor: pointer;
  font-size: 1.25rem;
}

.hair-styles-hidden {
  display: none;
}
.hair-styles-visible {
  display: flex;
  gap: 10px;
}
.ear-styles-hidden {
  display: none;
}
.ear-styles-visible {
  display: flex;
  gap: 10px;
}

@media (min-width: 768px) {
  /* for tablets */
  .main-alpaca {
    margin: 0 10px;
  }
  .alpaca img {
  }

  .alpaca {
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-self: center; */
    flex-wrap: wrap;
  }

  .alpaca-item {
    flex: 1;
  }

  .alpaca .z-alpaca .alpaca-acesseries {
    /* added margin for alpaca acessry section */
    margin-bottom: 0;
  }
  .alpaca img {
    min-width: 0;
  }
}
