* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
}
:root {
  /* may be */
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 30px;
}

.alpaca {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
}
